img{
    width: 100%;
    height: 400px;
}

.masthead {
    height: 85vh;
    min-height: 500px;
    background-image: url('/static/images/sa-p1.webp') ;
    background-size: cover;
    object-fit:cover ;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:30px;
  }

  

.services{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;

    column-gap: s;
    padding-top: 50px;
  }

.services a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
  }

  .container h3{
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
}

.container p {
    font-size: large;
    margin-bottom: 10%;
    margin-top: 10%;
}