body{
    background-color: #867171;
}

img{
    width: 100%;
    height: 400px;
}

.masthead {
    height: 85vh;
    min-height: 500px;
    background-image: url('/static/images/sa-p1.webp') ;
    background-size: cover;
    object-fit:cover ;
    background-position: center;
    background-repeat: no-repeat;
    border-radius:30px;
  }

  

.services{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;

    column-gap: s;
    padding-top: 50px;
  }

.services a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
  }

.container h3{
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
}

.container p {
    font-size: large;
    margin-bottom: 10%;
    margin-top: 10%;
}

/* Carousel */

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 30px auto 60px;
	padding: 0 80px;
}
.carousel .item {
    text-align: center;
	overflow: hidden;
}
.carousel .item h4 {
	font-family: 'Varela Round', sans-serif;
}
.carousel .item img {
	max-width: 100%;
	display: inline-block;
    height: 200px;
    border-radius: 20px;
}
.carousel .item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #895555;
	padding: 6px 15px;
	margin-top: 5px;
}
.carousel .item .btn:hover {
	background: #8c5bff;
}
.carousel .item .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);   
}
.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}
.carousel .carousel-control {
	height: 44px;
	width: 44px;
	background: none;	
    margin: auto 0;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.8);
}
.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
    font-weight: bold;
}
.carousel .carousel-control.left i {
	margin-left: -3px;
}
.carousel .carousel-control.right i {
	margin-right: -3px;
}
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border-color: transparent;
}
.carousel-indicators li {	
	background: #ababab;
}
.carousel-indicators li.active {	
	background: #555555;
}