{% extends "main/base.html" %}
{% load static %}
{% block title %} <title>Saudi Arabia Guide</title> {% endblock  %}
{% block style %}
 <link rel="stylesheet" href="{% static "style/home_page.css" %}">
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 <style>
	body{
		background-color: rgb(220, 220, 220);
		
	}
 </style>
 
 {% endblock  %}


{% block content %}
<header class="masthead">
  <div class="container h-100 mt-3">
    <div class="row h-100 align-items-center ">
      <div class="col-12 text-center">
        <h1 class="fw-light text-white mb-0">Saudi Arabia Guide</h1>
        <p class="lead text-white mt-2">We're Here to Make Your Journey Easer!</p>
        <div class="services">
          <a href="{% url "main:distance_page" %}">Distance Calculation </a>
          <a href="{% url "main:currency_exchange" %}"> Currency Exchange</a>
          <a href="{% url "main:weather_informations" %}">Weather Informations</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- second section-->
<div class="container">
  <div class="row mt-5"> 
      <div class="col-4">
          <div class="d-flex flex-column gap-3 h-100 justify-content-center">
              <h3> A Journey Through Timeless Heritage and Modern Wonders.</h3>
          </div>
      </div>
      <div class="col order-1 order-md-2">
          <p>Embark on a journey to the heart of Arabia, where ancient heritage intertwines with modern marvels. 
            Saudi Arabia, a realm of vibrant contrasts, invites you to explore its boundless beauty—from the rhythmic beats 
            of traditional music to the tantalizing aroma of authentic cuisine. Discover the warmth of hospitality, the allure
            of untouched landscapes, and a captivating blend of the old and the new. Join us on an odyssey where history and 
            future entwine, unveiling the magic of Saudi Arabia—an extraordinary place waiting to be explored.
          </p>
      </div>
  </div>


  <!-- third section-->
  
  <a href=" {% url "main:riyadh_page" %} ">Riyadh</a>
  <a href=" {% url "main:jeddah_page" %}">jeddah</a>
  <a href=" {% url "main:alula_page" %}">Al-ula</a>

{% endblock content %}